auto-save-list/
backup/
elpa/
eshell/
themes/
to-review/
my-cfg/config.org.bak
my-cfg/config.el
my-cfg/private.*
url/

*~
*.elc

ac-comphist.dat
bookmarks
ede-projects.el
places
recentf
projectile-bookmarks.eld
projectile.cache
session.*

helm-doc.org